<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <title>Blog System</title>
</head>
<body>
    <div class="header">
        <p></p>
        <h2>Lavaruz Blog</h2>
        <button>Sign Up</button>
    </div>
    <div class="main">
        <div class="main-signup">
            <p>Ingin menulis berita kamu sendiri, mari daftarkan diri terlebih dahulu</p>
            <a href="/signin"><button>Signup</button></a>
        </div>
        <div class="title">
            <h1>Recent News</h1>
        </div>
        <div class="blog">
            <% docs.forEach((doc)=>{ %>
                <a href="blog/<%= doc._id %> ">
                    <div class="blog-card">
                        <h3 class="title-card"><%= doc.title %> </h3>
                        <p class="date-card"><%= doc.date %></p>
                        <p class="content-card"><%= doc.mksa %></p>
                    </div>
                </a>
            <% }) %> 
        </div>
    </div>
</body>
</html>