<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <title>Blog System</title>
</head>
<body>
    <div class="header">
        <p></p>
        <h2>Lavaruz Blog</h2>
        <button>Sign Up</button>
    </div>
    <div class="main">
        <div class="title">
            <h1>Popular News</h1>
        </div>
        <div class="blog">
            <div class="blog-card">
                <h3 class="title-card">Featured Post</h3>
                <p class="date-card">Nov 12</p>
                <p class="content-card">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, dignissimos.</p>
            </div>
            <div class="blog-card">
                <h3 class="title-card">Featured Post</h3>
                <p class="date-card">Nov 12</p>
                <p class="content-card">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, dignissimos.</p>
            </div>
            <div class="blog-card">
                <h3 class="title-card">Featured Post</h3>
                <p class="date-card">Nov 12</p>
                <p class="content-card">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, dignissimos.</p>
            </div>
            <div class="blog-card">
                <h3 class="title-card">Featured Post</h3>
                <p class="date-card">Nov 12</p>
                <p class="content-card">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, dignissimos.</p>
            </div>
            <div class="blog-card">
                <h3 class="title-card">Featured Post</h3>
                <p class="date-card">Nov 12</p>
                <p class="content-card">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, dignissimos.</p>
            </div>
        </div>
    </div>
</body>
</html>