<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/signin.css">
    <title>Signup</title>
</head>
<body>
    <div class="title">
        <h2>Register to Lavaruz Blog</h2>
    </div>
    <form action="/auth/signup" method="post">
        <div class="container">
            <label>Username : </label>   
            <input type="text" placeholder="Enter your Username" name="username" required>  
            <label>Password : </label>   
            <input type="password" placeholder="Enter your Password" name="password" required>  
            <button class="button-register" type="submit">Create an Account</button> 
        </div>
    </form>
    <div class="back">
        <a href="/auth/signin" class="back-login">Sign In</a>
        <a href="/" class="back-home">Home</a>
    </div>

<%- include('template/footer') %> 