<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignIn</title>
</head>
<body>
    <link rel="stylesheet" href="/css/signin.css">
    <div class="title">
        <h2>Login to Lavaruz Blog</h2>
    </div>
    <form action="#" method="">
        <div class="container">
            <label>Username : </label>   
            <input type="text" placeholder="Not function yet, please use google oauth" name="username" required>  
            <label>Password : </label>   
            <input type="password" placeholder="Not function yet, please use google oauth" name="password" required>  
            <button type="submit">Login</button> 
            <div class="add-on">
                <label><input type="checkbox" name="checkbox" value="value">Remember me</label>
                <a href="#">Forgot Password? </a>   
            </div>  
        </div>
    </form>
    <a href="/auth/google" class="social-google-link">
        <div class="social-google">
            <p>signin with google</p>
        </div>
    </a>
</body>
</html>