<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="/css/signin.css">
    <title>SignIn</title>
</head>
<body>
    <div class="main">
        <div class="title">
            <h2>Welcome Back</h2>
        </div>
        <form action="/auth/signin" method="post">
            <label>Username : </label>   
            <input type="text" placeholder="Enter your username" name="username" required>  
            <label>Password : </label>   
            <input type="password" placeholder="Enter your password" name="password" required>  
            <button class="button-register" type="submit">Login</button> 
        </form>
        <a href="/auth/google" class="social-google-link">
            <div class="social-google">
                <i class="uil uil-google icon-google"></i> 
                <p>signin with google</p>
            </div>
        </a>
    
        
        <div class="back">
            <p>Don't have an account yet? <a href="/auth/signup">Register</a></p>
            <a href="/" class="back-home">Back Home</a>
        </div>
    </div>
