<%- include('template/header') %> 

    <link rel="stylesheet" href="/css/submit.css">
    <link rel="stylesheet" href="/css/submit-responsive.css">

    <body>
        <div class="main-post">
            <form action="/submit" method="post" enctype="multipart/form-data">
                
                <textarea type="text" class="title-content" id="title" name="title" placeholder="Title" pattern=".{5,}" required title="5 characters minimum" oninput="auto_grow(this)"></textarea>
            
                <textarea oninput="auto_grow(this)" class="textarea-content" id="content" name="content" placeholder="tell your story" pattern=".{20,}"   required title="20 characters minimum"></textarea>
                <hr style="margin:0 1rem;">
                <textarea class="textarea-mksa" id="mksa" name="mksa" placeholder="highlight of your post" oninput="auto_grow(this)"></textarea>
            
                <input class="image-content" type="file" name="image" accept="image/*"><br>
                <button type="submit" class="button-content">Publish</button>
                
            </form>
        </div>
    </body>
<script src="js/summarize.js"></script>
<script>
    function auto_grow(element) {
        element.style.height = "5px";
        element.style.height = (element.scrollHeight)+"px";
    }
</script>

