
.main-blog{
    /* padding: 3% 20%; */
    display: grid;
    grid-template-columns: 3fr 1.3fr;
    gap: 4rem;
}

.article{
    padding: 2rem 4rem;
    font-size: .9rem;
}
.article-img{
    display: block;
    margin: 2rem auto;
}
.head .head-info{
    display: flex;
    gap: .5rem;
}
.head .head-info img{
    border-radius: 100%;
}
.article .head-date{
    color: rgb(109, 109, 109);
    margin: 0;
}
.article .head-title{
    margin: .5rem 0 2rem;
    font-size: 3.2rem;
}
.article .head-autor{
    margin: 2px 0;
}
.article-end{
    text-align: center;
    padding: 2rem 0;
}
.content-mksa h4{
    margin: 0rem 0;
}
.content .content-mksa{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2.5rem;
    text-align: center;
    border: 1px solid rgb(151, 151, 151);
    border-radius: 5px;
    font-size: 1.1rem;
}
.content-main{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
}


.autor-info{
    border: 1px solid rgb(201, 201, 201);
    border-width: 0px 0px 0px 1px;
    padding: 2rem 2rem;
}
.autor-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    position: sticky;
    top: 2rem;
}
.autor-profile img{
    border-radius: 100%;
}
.autor-profile p{
    text-align: center;
    font-size: .9rem;
    color: rgb(105, 105, 105);
}
.autor-info h3{
    margin: 1rem 0 0;
}
.autor-info button{
    padding: .7rem 1.3rem;
    background-color: black;
    color: white;
    border: none;
    /* border-radius: 20px; */
}