body {
    padding: 3% 0 0;
}  

.title{
    display: flex;
    justify-content: center;
    /* padding: 35%; */
}

form button {   
    background-color: #4CAF50;   
    width: 100%;  
    color: orange;   
    padding: 15px;   
    margin: 10px 0px;   
    border: none;   
    cursor: pointer;   
}   
input[type=text], input[type=password] {   
    width: 100%;   
    margin: 8px 0;  
    padding: 12px 20px;   
    display: inline-block;   
    border: 1px solid black;   
    box-sizing: border-box;   
}  
button:hover {   
    opacity: 0.7;   
}   
.cancelbtn {   
    width: auto;   
    padding: 10px 18px;  
    margin: 10px 5px;  
}   
    
.add-on{
    display: flex;
    justify-content: space-around;
}
.container {   
    margin: 10px 35% 0;
    padding: 25px;
    border: 1px solid black;
}  

.social-google{
    display: flex;
    justify-content: center;
    margin: 20px 35%;
    background-color: rgb(136, 0, 0);
    transition: .3s;
}
.social-google:hover{
    background-color: rgb(104, 0, 0);
}
.social-google-link{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.register{
    margin: 18px 0 3px;
    display: grid;
    justify-content: center;
    text-align: center;
}
.register p{
    margin: 0;
}
.button-register{
    background-color: black;
    border: 1px solid black;
    color: white;
    transition: .3s;
}
.button-register:hover{
    background-color: rgb(44, 44, 44);
}

.back{
    margin: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
}