<style>
    .footer{
        padding: 3% 5% 2%;
    }
    .featured{
        display: grid;
        grid-template-columns: 3fr 1fr;
        align-items: center;
    }
    .featured-social{
        display: flex;
        gap: 10px;
    }
    .footer-title h3, .footer-title p{
        margin: 0;
    }
</style>

<div class="footer">
    <h3>Lavaruz Blog</h3>
    <hr>
    <div class="featured">
        <div class="featured-link">
            <h3>Team</h3>
            <p>Assami Muzaki (Me)</p>
            <p>Lavaruz (Me)</p>
            <p>Projoi (Me)</p>
        </div>
        <div class="featured-social">
            <p>IG</p>
            <p>FB</p>
            <p>Github</p>
        </div>
    </div>
</div>
</body>
</html>