<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
<style>
    .footer{
        padding: 3% 5% 2%;
    }
    .featured{
        display: grid;
        grid-template-columns: 3fr 1fr;
        align-items: center;
    }
    .featured-social{
        display: flex;
        gap: 1rem;
    }
    .featured-social a{
        font-size: 1.5rem;
    }
    .footer-team{
        margin: .5rem 0;
    }
    @media only screen and (max-width: 600px) {
        p{
            font-size: .9rem;
            margin: .5rem 0;
        }
    }
</style>

<div class="footer">
    <h3>Lavaruz Blog</h3>
    <hr>
    <h4 class="footer-team">Team</h4>
    <div class="featured">
        <div class="featured-link">
            <p>Assami Muzaki (Me)</p>
            <p>Lavaruz (Me)</p>
            <p>Projoi (Me)</p>
        </div>
        <div class="featured-social">
            <a href="https://www.instagram.com/assami_mzk/"><i class="uil uil-instagram"></i></a>
            <a href="https://github.com/Lavaruz"><i class="uil uil-github-alt"></i></a>
        </div>
    </div>
</div>
</body>
</html>