<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/KepalaChara.png">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/header-responsive.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <title>Lavaruz Blog</title>
</head>
<body>
    <div class="nav">
        <div class="header">
            <div class="nav-brand">
                <a href="/"><img src="/img/KepalaChara.png" alt="">
                <h2 class="nav-title">Lavaruz Blog</h2></a>
            </div>
            <% if(!user){ %> 
                <a href="/auth/signin">
                    <button class="nav-signin">Get started</button>
                </a>
            <% }else{ %> 
                <div class="logout">
                    <a href="/logout">
                        <i class="uil uil-signout icon-logout" title="logout"></i>
                    </a>
                </div>
            <% } %> 
        </div>
    </div>